extends layout

block content
    h1.
        BookList
    ul
        each user, i in userlist
            li=user.category
            l1 
                a(href="#{user.link}")= user.username 
            l1 
                a(href="#{user.linkchapter}")= user.chapter
            l1=user.author
            l1=user.email

